body{
	background-image: url("dandelion-pattern.png");
}


h1{
   font-family: 'Do Hyeon', sans-serif;
   color: #833A00;
   font-size: 3em;
}
h4{
    font-family: 'Cute Font', cursive;
    color: #B45000;
    display: flex;
    justify-content: center;
}

#top_pic{
	height: 300px;
	width: 300px;
}
.h1{
	font-family: 'Cute Font', cursive;

}

.col1{
	display: flex;
	justify-content: center;
	align-items : center;
}

.img1{
	width:500px;
}